/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
	text-decoration: none;
	box-sizing: border-box;
}
.wrap{
	width: 1024px;
	margin: 0 auto;
	.container{
		width: 940px;
		margin: 0 auto;
	}
	.header{
		display: flex;
		justify-content: space-between;
		padding: 30px 0px;
		h1{
			img{
				height: 40px;
			}
		}
		.menu{
			display: flex;
			align-items: center;
			.menuLink{
				margin-right: 60px;
				a{
					font-family: "PingFang TC", Semibold;
					color: #3F5D45;
				}
			}
			.shoppingCart{
				margin-left: 19px;
			}
		}
	}
	.banner{
		margin-bottom: 60px;
	}
	.main{
		display: flex;
		justify-content: space-between;
		.catogory{
			h2{
				width: 300px;
				height: 65px;
				font-size: 24px;
				font-family: "PingFang TC", Semibold;
				background: #3F5D45;
				color: #EAF0ED;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			a{
				width: 300px;
				height: 65px;
				font-size: 24px;
				font-family: "PingFang TC", Semibold;
				color: #3F5D45;
				border: 1px solid #EAF0ED;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover{
					background: #EAF0ED;
				}
			}
		}
		.content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.productList{
				display: flex;
				flex-wrap: wrap;
				li{
					margin-left: 20px;
					margin-bottom: 20px;
					.product{
						width: 300px;
						height: 315px;
						position: relative;
						.today{
							width: 36px;
							height: 106.73px;
							font-family: "PingFang TC", Semibold;
							background: #3F5D45;
							color: #EAF0ED;
							writing-mode: vertical-lr;
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							top: 0px;
							left: 20px;
						}
						.heart{
							width: 22px;
							position: absolute;
							top: 19px;
							right: 22px;
						}
					}
					.foodItem{
						display: flex;
						.productName{
							font-size: 20px;
							font-family: "PingFang TC, Light";
							color: #3F5D45;
							width: 173px;
							border-top: 1px solid #EAF0ED;
							border-left: 1px solid #EAF0ED;
							border-bottom: 1px solid #EAF0ED;
							padding: 14px 33px;
						}
						.price{
							font-size: 20px;
							font-family: "PingFang TC", Semibold;
							color: #3F5D45;
							width: 127px;
							border: 1px solid #EAF0ED;
							padding: 14px 20px 14px 23px;
						}
					}
					.addCart{
						font-size: 24px;
						font-family: "PingFang TC", Semibold;
						color: #3F5D45;
						width: 300px;
						height: 65px;
						background: #EAF0ED;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			.pagination{
				display: flex;
				justify-content: flex-end;
				margin-top: 10px;
				a{
					display: block;
					width: 60px;
					height: 60px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 20px;
					font-family: "PingFang TC", Semibold;
					color: #3F5D45;
					border: 1px solid #EAF0ED;
					&:hover{
						color: #EAF0ED;
						background: #3F5D45;
					}
					img{
						padding: 30px;
						&:hover{
							filter: brightness(90);
						}
					}
				}
			}
		}
	}
}